#header {
  background: #b97a57;
  padding: 8px;
}

#header .title {
  font-weight: 400;
}

#main-function .logo a {
  color: #b97a57;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
}

#main-function .work-order {
  padding: 12px 24px;
  background: #b97a57;
  font-weight: 500;
}

#main-function .work-order a:hover {
  text-decoration: none;
}

.thumb-slide img {
  width: 100%;
}

.container-form {
  max-width: 760px;
  padding: 25px;
  margin: auto;
}

.container-form .title-form {
  color: #b97a57;
  font-weight: 600;
  font-size: 25px;
}

.custom-button {
  background: #b97a57;
  color: #fff;
}

.info-chestnut {
  color: #b97a57;
  padding: 20px;
  font-size: 15px;
}

#footer {
  background: #f3f3f3;
  border: 2px solid #e7e7e7;
}

/* medium */
@media (max-width: 767.98px) {
  #header {
    background: #b97a57;
  }

  #header .title {
    font-size: 15px;
  }

  #main-function .logo a {
    font-size: 20px;
  }

  #main-function .work-order {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
  }
}

/* phone */
@media (max-width: 575.98px) {
  #header {
    background: #b97a57;
  }

  #header .title {
    font-size: 13px;
  }

  #main-function .logo a {
    font-style: italic;
    font-size: 18px;
  }

  #main-function .work-order {
    padding: 3px 8px;
    font-weight: 500;
    font-size: 15px;
  }

  .container-form {
    padding: 15px;
  }

  .info-chestnut {
    padding: 10px;
    font-size: 13px;
  }
}
